# .gitignore

bin/boostbook_catalog.xml
bin/config.log
bin/project-cache.jam

# Ignore vim swap files.
*.swp

# Ignore SCons support files.
.sconsign.dblite

# Ignore python compiled files.
*.pyc

# Ignore Macintosh Desktop Services Store files.
.DS_Store

# Ignore backup/temps
*~

# Ignore object files.
*.o
build
.nih_c
build*
!src/tbb-2019_U8/build
tags
TAGS
GTAGS
GRTAGS
GPATH
bin/rippled
bin/chainsqld
Debug/*.*
Release/*.*

# Ignore coverage files.
*.gcno
*.gcda
*.gcov

# Ignore locally installed node_modules
/node_modules

# Ignore tmp directory.
tmp

# Ignore database directory.
db/
db/*.db
db/*.db-*

# Ignore debug logs
debug_log.txt

# Ignore customized configs
chainsqld.cfg
validators.txt

# Doxygen generated documentation output
HtmlDocumentation
docs/html_doc

# Xcode user-specific project settings
# Xcode
.DS_Store
*/build/*
*build*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
.nih_c/
*.hmap

# Compiler intermediate output
/out.txt

# Profiling data
gmon.out

# Build Log
chainsqld-build.log

/Builds/XCode/*
!/Builds/XCode/README.md
/Builds/VisualStudio2017/*
!/Builds/VisualStudio2017/README.md
!/Builds/VisualStudio2017/images
/Builds/Ubuntu/*
!/Builds/Ubuntu/*.sh
!/Builds/Ubuntu/README.md


# ignore
third_party/

# MSVC
*.pdb
.vs/

# vscode
.vscode/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
#*.a
*.lib

# Executables
*.exe
*.out
*.app

CMakeSettings.json
compile_commands.json
.clangd

# VScode config files
.vscode/
*.diff