[submodule "src/intx"]
	path = src/intx
	url = https://github.com/chfast/intx.git
[submodule "src/eth/evmc"]
	path = src/eth/evmc
	url = https://github.com/ethereum/evmc.git
[submodule "src/eth/ethash"]
	path = src/eth/ethash
	url = https://github.com/chfast/ethash.git
